@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
/* .font-family-karla { font-family: karla; } */
/* .bg-sidebar { background: #3d68ff; } */
.bg-sidebar { background: #496989; }
.cta-btn { color: #58A399; }
.active-nav-link { background: #58A399; }
.nav-item:hover { background: #A8CD9F; }
.account-link:hover { background: #A8CD9F; }